<cc-view title="Sales Order List" class="grid-block vertical">
    <div class="grid-content">
        <div ng-show="orders.length">
            <section class="block-list">
                <ul>

                    <li ng-repeat="order in orders | orderBy : 'BookDate' : true">
                        <a ng-class-odd="'cc-list-item-odd'" ng-class-even="'cc-list-item-even'">
                        	<!-- First line of Order -->
                        	<div class="grid-block">
                        		<div id="customerpo" class="small-8">
                        			<h3>PO#: {{order.CustomerPo}}</h3>
                        		</div>
								<div id="bookdate" class="small-2">
									<h4>{{moment(order.BookDate,'YYYY-MM-DD').format('MM/DD/YY')}}</h4>
								</div>
                        	</div>
                        	<!-- Second line of Order -->
                        	<div class="grid-block">
                        		<h4>{{order.EndUserName}}</h4>
                        	</div>
                        	<!-- Third line of Order -->
                        	<div class="grid-block">
                        		<div id="salesnumber" class="small-9">
                        			<p>SO#: {{order.SalesOrder}}</p>
                        		</div>
								<div id="orderstatus" class="small-2">
									<span ng-class="{ 'success label' : (order.StatusCode === 'Closed'), 'alert label' : (order.StatusCode === 'Open'), 'warning label' : (order.StatusCode === 'Partial') }">{{order.StatusCode}}</span>
								</div>   
								<!--<div id="chevron" class="small-1">
									<span class="icon-chevron-right" title="chevron right" aria-hidden="true"></span>
								</div>-->                 	
                        	</div>

                        </a></li>
                </ul>
            </section>
        </div>

</div>
</cc-view>