<div class="primary title-bar">
    <div class="center title">Sales Order List</div>
</div>
<div class="grid-block vertical">
    <div class="grid-content">
        <div ng-show="orders.length">
            <section class="block-list">
                <ul>
                    <li ng-repeat="order in orders | orderBy : 'BookDate' : true">
                        <a ng-class-odd="'cc-list-item-odd'" ng-class-even="'cc-list-item-even'">
                        	<br/>
                        	PO#: {{order.CustomerPo}}  Book Date: {{order.BookDate.format('MM/DD/YY')}} <br/>
                        	End User: {{order.EndUserName}} <br/>
                        	SO#: {{order.SalesOrder}}  Status: {{order.StatusCode}}
                        </a></li>
                </ul>
            </section>
        </div>
    </div>
</div>