<div class="primary title-bar">
    <div class="center title">Orders</div>
</div>
<div class="grid-block vertical">
    <div class="grid-content">
        <br>
        <form>
            <label>
                Customer ID
                <input type="text" placeholder="Customer ID" ng-model="searchObject.customerId"/>
            </label>
            <label>
                Customer PO
                <input type="text" placeholder="Customer PO" ng-model="searchObject.customerPo"/>
            </label>
            <label>
                Search Type
                <select ng-model="searchObject.searchType">
                    <option ng-repeat="item in ::searchOptions" value="{{searchOptions[$index]}}">
                        {{searchOptions[$index]}}
                    </option>
                </select>
            </label>

            <button class="expand button" ng-click="getOrders()">Search Orders</button>

        </form>
        <div ng-show="orders.length">
            <section class="block-list">
                <header>{{orders.length}} Sales Orders</header>
                <ul>
                    <li ng-repeat="order in orders">
                        <a href="#">
                            <h6>{{order.EndUserName}}</h6>
                            <p>{{order.BookDate}} - {{order.StatusCode}}</p>
                        </a></li>
                </ul>
            </section>
        </div>
    </div>
</div>