a.av-tool-button {
	background-color: $color-avnet-red;
	font-family: "ClanNews";
	border-width: 0.5px;
  	color: whitesmoke !important;
  	font-size: 1.4rem;
 	border-width: 0.5px;
  	border-style: solid;
  	border-color: grey;
  	box-shadow: 1px 4px 20px -10px black;
  	font-weight: 900;
  	margin: 8px 12px;
}
a.av-tool-button:focus, a.av-tool-button:hover {
	background-color: $color-avnet-red;
}
